@{
    Layout = null;
}


<form role="form" style="margin: 0 auto; width: 250px">

    <div class="form-group" style="width: 100%">
        <label for="inpName">Name</label>
        <input id="inpName" type="text" class="form-control" data-bind="value: Name" />
    </div>

    <div class="form-group">
        <label for="inpEditionYear">Edition Year</label>
        <input id="inpEditionYear" type="text" class="form-control" data-bind="value: EditionYear" />
    </div>


    <div class="form-group">
        <label for="inpPublishing">Publishing</label>
        <input id="inpPublishing" type="text" class="form-control" data-bind="value: Publishing" />
    </div>


    <div class="form-group">
        <label for="inpPages">Pages</label>
        <input id="inpPages" type="text" class="form-control" data-bind="value: Pages" />
    </div>

    <div class="form-group">
        <label for="inpUDCID">UDC ID</label>
        <input id="inpUDCID" type="text" class="form-control" data-bind="value: UDCID" />
    </div>
    <p>
        <input type="button" id="btnCreateBook" style="float: right" class="btn btn-primary" value="Create" data-bind="click: createBook"/>
    </p>
</form>
