@if (Request.IsAuthenticated)
{
    <text>
        <li>
            <div style="margin-top:15px">
            <a href=@Url.Action("ShowUser", "Account", new { id = WebSecurity.GetUserId(User.Identity.Name) }) style="padding: 0; margin: 0; outline-style: none">
                @User.Identity.Name
            </a>
                </div>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Вийти</a></li>
    </text>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "", style = "outline-style: none" }))
    {
        @Html.AntiForgeryToken()
    }
}
else
{
    <li><a href="/Account/Register" id="registerLink" style="outline-style: none">Реєстрація</a></li>
    <li><a href="/Account/Login" id="loginLink" style="outline-style: none">Вхід</a></li>
}
