@{
    ViewBag.Title = "About";
}

<span style="font-family: tahoma,arial,helvetica,sans-serif;"><strong>У 1898 році в Київському політехнічному інституті імені імператора Олександра II було засновано Фундаментальну бібліотеку</strong>. Її першим директором і бібліотекарем в одній особі був майбутній академік Української Академії Наук <strong>Микола Федотович Біляшівський</strong> - відомий історик, етнограф і археолог. </span>