
@model Library_CourseWorkDB.Models.Main
@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<div id="list-group">
    <a href="@Url.Action("Index", "Home")" class="list-group-item">Все</a>
    @foreach (var category in Model.CategoryList)
    {
        <a class="list-group-item" href="@Url.Action("Index", "Home", new {categoryCode = category.Code  })">
            <h4>@category.Description</h4>
        </a>
    }
    @foreach (var book in Model.BookList)
    {
        @Html.ActionLink(book.Name, "ShowBook", "Home", new { id = book.ID }, new { style = "margin: 0; padding-right: 80px; line-height: 15px; color: black" })
    }

</div>

