@model Book
@using Library_CourseWorkDB.Models
<fieldset id="myContainer">
        <legend>Список авторів</legend>
        @if (Model.AuthorsList != null)
        {
            int i = 1;
            foreach (Author author in Model.AuthorsList)
            {
                
            <div style="width: 200px">@i . @author.GetShortName()
                @if (User.IsInRole("Librarian") || User.IsInRole("Admin"))
                {
                @Html.ActionLink(" ", "RemoveAuthor", new { id = author.ID, bookId = Model.ID }, new { @class = "glyphicon glyphicon-remove" , @style= "float:right"})
                }
                
                </div>
                i++;
            }
        }
        else
        {
            <p>Немає авторів</p>
        }
    </fieldset>